*{
    margin: 0;
    padding: 0;
}

@media(max-width:604px){
   body{
        font-family: sans-serif;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        height:100vh;
        margin: 2%;
   }
   h2{
        color: green;
        margin-top:10px;
        margin-bottom: 10px;
        font-size:22px ;
    }
   button{
    background-color: green;
    color: white;
    width: 100%;
   }

   .card{
    text-align: center;
    
   }
  
   .container{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
   }  

}

@media(min-width:605px){

    body{
        font-family: sans-serif;
        background-color: #EFC844;
        display: flex;
        justify-content: center;
        align-items: center;
        height:100vh;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card{
        text-align: left;
        margin: 0px;
        margin-left: 10px;
    }
   
    button{
        background-color: #EFC844;
        color: white;
   }
 
    h2{
        color: #EFC844 ;
        margin: 10px 0 8px;
        font-size:22px ;
    }

    img{
        margin-left: 20px;
    }
   

}


p{
        font-size: 15px;
        color: #555;
        margin-bottom: 25px;
        font-family: sans-serif;
    }
img{
    width: 70px;
}

.container{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

button{
        border: none;
        padding: 5px;
        border-radius: 5px;
}