
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #f5f7fa;
    color: #333;
    margin: 0;
    padding: 0;
}


header {
    background: radial-gradient(#0078d7, #0795c4);
    color: white;
    text-align: center;
    padding: 1.5rem 0;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

#lien_section {
    margin-top: 10px;
}

#lien_section a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: 500;
    transition: 0.3s;
}

#lien_section a:hover {
    color: #ffeb3b;
}


main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1.5rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


h2, h3, h4 {
    color: #0078d7;
    margin-top: 20px;
    border-left: 4px solid #0078d7;
    padding-left: 10px;
}


#competences {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#competences ul {
    list-style: none;
    padding: 0;
}

#competences div {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #eef3f7;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

#competences img {
    width: 40px;
    height: 40px;
    
}


table {
    width: 100%;
    margin-top: 20px;
}

thead {
    background: #0078d7;
    color: white;
}

th , td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 10px 0;
    font-size: 0.9rem;
    margin-top: 2rem;
}


