#competences {
    margin-left: 80px;}
.table_scolarite{
    border: 2px solid black;
    width: 100%;
}

body{background-color: #D6D1D0;}

header{text-align: center;}

header {background-color:#DEDEDE;
        h1{font-family: 'Courier New', Courier, monospace;
        border: 2px solid;
        border-radius: 2px;}
        section{display: flex;
                justify-content: space-around;}
        a{font-size: x-large;
          text-decoration:none }
        a:hover{text-decoration: underline;}}
